:root {
    --button-bg: rgb(200, 36, 36);
    --button-hover-bg: rgb(157, 27, 27);
    --button-text-color: #fff;
}
* {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* REGISTER */
.regusr-container {
    margin-top: 15px;
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regusr-container h2 {
    color: #721c24;
    text-align: center;
}

.regusr-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.regusr-container label {
    margin-top: 10px;
    text-align: left;
    color: #721c24;
    width: 80%;
}

.regusr-container input[type="text"],
.regusr-container input[type="email"],
.regusr-container input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #a80011;
    border-radius: 5px;
}

.regusr-container button[type="submit"] {
    font-size: 15px;
    width: 85%;
    margin-top: 15px;
    padding: 10px;
    background-color: #c82333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.regusr-container button[type="submit"]:hover {
    background-color: #a71d2a;
}

.regusr-container .regusr-error {
    color: #721c24;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
    width: 80%;
}

.regusr-container ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.regusr-container li {
    color: #721c24;
}

.regusr-container p {
    margin-top: 15px;
    color: #721c24;
}

.regusr-container a {
    color: #c82333;
    text-decoration: none;
}

.regusr-container a:hover {
    text-decoration: underline;
}

/* LOGO */

.logo-container {
    margin-top: 15px;
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container h2 {
    color: #721c24;
    text-align: center;
}

.logo-container form {
    margin-left: 22%;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.logo-container input[type="text"],
.logo-container input[type="password"] {
    width: 120%;
    padding: 10px;
    border: 1px solid #a80011;
    border-radius: 5px;
}

.logo-container button[type="submit"] {
    font-size: 15px;
    width: 78%;
    margin-top: 15px;
    padding: 10px;
    background-color: #c82333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logo-container button[type="submit"]:hover {
    background-color: #a71d2a;
}

.logo-container .regusr-error {
    color: #721c24;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
    width: 80%;
}

.logo-container ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.logo-container li {
    color: #721c24;
}

.logo-container p {
    margin-top: 15px;
    color: #721c24;
}

.logo-container a {
    color: #c82333;
    text-decoration: none;
}

.logo-container a:hover {
    text-decoration: underline;
}

/* MENU */

header {
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.account {
    margin-right: 20px;
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 200px;
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 100px);
    position: fixed;
    top: 100px;
    z-index: 2;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    text-align: start;
}

.sidebar ul li {
    padding: 5px;
    margin: 10px 0;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar ul li:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.37);
}

.sidebar ul li a {
    text-decoration: none;
    color: #000;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar ul li a:hover {
    color: #000;
}

main {
    margin-left: 220px;
    padding: 20px;
    flex-grow: 1;
}

/* HOME and BASIC */

.title {
    color: #fff;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    margin-top: 100px;
    height: 250px;
    background-image: url('/static/image/hector-falcon-a0gOVWF17CU-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title h2, .title p {
    background-color: #000000;
}


.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 9px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 20px);
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
}

.product:hover{
    transform: scale(1.02);
}

.product img {
    height: 120px;
    border-radius: 5px;
}

.but-prc {
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.but-prc button{
    width: 90px;
    color: var(--button-text-color);
    background-color: var(--button-bg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.but-prc button:hover{
    background-color: var(--button-hover-bg);
}

.back-container {
    margin-bottom: 20px;
    text-align: left;
}

.back-button {
    border: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--button-hover-bg);
    color: var(--button-text-color);
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: var(--button-bg);
}

.product-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 955px;
    box-sizing: border-box;
    overflow: hidden;
}

.left {
    width: 30%;
    box-sizing: border-box;
}

.author-info {
    text-align: left;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
}

.right {
    width: 65%;
    box-sizing: border-box;
}

.product-image {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-description {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

.purchase-info {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.purchase-info button {
    padding: 10px 20px;
    color: var(--button-text-color);
    background-color: var(--button-bg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.purchase-info button:hover {
    background-color: var(--button-hover-bg);
}

.purchase-info p {
    font-size: 18px;
    color: #333;
    margin: 0;
}

.purchase-info-2 {
    margin-top: 150px;
    margin-left: 12px;
}

/* CATEGORY */

.title-category {
    color: #fff;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    margin-top: 90px;
    height: 200px;
    background-image: url('/static/image/pierre-bamin-UZAStL98aP4-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-category h2, .title-category p {
    background-color: #340000;
}

/* ORDER HTML */

.order-container {
    margin-top: 90px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.order-container h2 {
    margin-bottom: 20px;
}

.order-container label {
    text-align: start;
    display: block;
    margin: 10px 0 5px;
}

.order-container form {
    padding-left: 32%;
}

.order-container input[type="text"],
.order-container input[type="tel"],
.order-container input[type="email"],
.order-container textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.order-container textarea {
    resize: vertical;
    height: 100px;
}

.order-container button {
    padding: 10px 20px;
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.order-container button:hover {
    background-color: var(--button-hover-bg);
}

/* ABOUT */

.content-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.content-container img {
    max-width: 100%;
    border-radius: 10px;
}

.image-left, .image-right {
    flex: 1;
    max-width: 45%;
}

.text-left, .text-right {
    flex: 1;
    padding: 20px;
}

.reverse {
    flex-direction: row-reverse;
}

h2 {
    margin-top: 0;
}

p {
    line-height: 1.6;
}

.title-about {
    color: #fff;
    margin-top: 100px;
    height: 250px;
    background-image: url('/static/image/title_about.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-about h2, .title-about p {
    background-color: #760000;
}

/* SHOPPING CART */

.quantity-control button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.quantity-control button:hover {
    background-color: var(--button-bg);
   }

.remove-button{
    background-color: var(--button-bg);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 400px;
}

.remove-button:hover{
    background-color: var(--button-hover-bg);
}

.cart {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.cart-item img {
    max-width: 150px;
    margin-right: 20px;
    border-radius: 10px;
}

.item-info {
    flex: 1;
}

.item-info h3 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.item-info p {
    margin: 0 0 15px 0;
    text-align: left;
}

.quantity-control {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.quantity-control button {
    background-color: var(--button-hover-bg);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity-control input {
    width: 50px;
    text-align: center;
    margin: 0 10px;
}

.total {
    margin-top: 20px;
}

.buy-button {
    color: var(--button-text-color);
    background-color: var(--button-bg);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

.buy-button:hover {
    background-color: var(--button-hover-bg);
}

.buy-button_dis {
    color: var(--button-text-color);
    background-color: #64030c;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

/* ACCOUNT */

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.account-info {
    margin: 8px;
    color: var(--button-hover-bg);
}

.account-user {
    padding: 2px;
    margin-top: 5px;
    color: white;
    border-radius: 5px;
    background-color: var(--button-hover-bg);
}
