{% extends 'shop/base.html' %}

{% load static %}

{% block content %}

         <main>

             {% if user.is_authenticated %}
                <div class="user-container" style="margin-top: 130px;">
                    <img src="{% static 'image/account_r_2.png' %}" alt="img" style="width: 130px;">
                    <h2 class="account-user">{{ user.username }}</h2>
                    <h3 class="account-info"><i>Name: </i>{{ user.first_name }}</h3>
                    <h3 class="account-info"><i>Surname: </i>{{ user.last_name }}</h3>
                    <h3 class="account-info"><i>Email: </i>{{ user.email }}</h3>
                    <div class="back-container-logo">
                        <a href="{% url 'logout' %}"><button style="margin-top: 10px;" class="back-button">Log out</button></a>
                    </div>
                </div>

            {% else %}
                <h2>Please log in.</h2>
            {% endif %}

        </main>
{% endblock %}