{% extends 'shop/base.html' %}

{% load static %}

{% block content %}
        <main>
            <div class="order-container">
                <h2 style="text-align: center;">Form for selling goods</h2>
                <p style="text-align: center;">Your form will be processed within two business days.</p>
                    <form method="post">
                        {% csrf_token %}
                        <label for="first-name">Name:</label>
                        <input type="text" id="first-name" name="first_name" required placeholder="Your name">

                        <label for="last-name">Surname:</label>
                        <input type="text" id="last-name" name="last_name" required placeholder="Your surname">

                        <label for="phone">Phone:</label>
                        <input type="tel" id="phone" name="phone" required placeholder="Your work phone number">

                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required placeholder="Your work email">

                        <label for="comment">Comment:</label>
                        <textarea id="comment" name="comment" placeholder="Briefly describe the product and your wishes for cooperation"></textarea>

                        <label>
                            <input type="radio" name="radio" checked> I consent to the processing of my personal data
                        </label>

                        <button type="submit" style="margin-left: 130px; margin-top: 5px; font-size: 16px;">Sent</button>
                    </form>

            </div>
        </main>
{% endblock %}