{% extends 'shop/base.html' %}

{% load static %}

{% block content %}

       <main>
            <div class="title">
               <h2>Unique Handmade Creations by Artisans</h2>
               <p>Discover exclusive items crafted with love and inspiration. <br>Support local artisans and add a special touch to your style!</p>
            </div>

            <div class="products">
                {% for product in products %}
                <div class="product" onclick="window.location.href='{% url 'product_detail' product.id %}';">
                    <img src="{{ product.photo.url }}" alt="{{ product.name }}">
                    <h3>{{ product.name }}</h3>
                    <div class="but-prc">
                        <button onclick="addToCart({{ product.id }}); event.stopPropagation();">
                            <img src="{% static 'image/free-icon-font-shopping-cart.png' %}" alt="account" style="height: 20px; width: 20px;">
                        </button>
                        <p>{{ product.price }} $</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <p style="text-align: center; margin: 10px; margin-top: 10px;">Hotline Number: <span style="color: rgb(200, 36, 36);">+0 846 2763 764</span> Available Hours: Monday to Friday, 9 AM to 6 PM
                <br>Email Address: <span style="color: rgb(200, 36, 36);">likyHotLine@gmail.com</span> Response Time: We aim to reply to all inquiries within 24 hours.</p>

        </main>
{% endblock %}