<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiktY</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'image/logo.png' %}" alt="Logo img">
            <h1><a href="{% url 'home' %}" style="text-decoration: none; color: black;">LiktY</a></h1>
        </div>
        <div class="account">
            <a href="{% url 'shopping_cart' %}"><img src="{% static 'image/free-icon-font-shopping-cart (2).png' %}" alt="account" style="width: 30px;"></a>
            <a href="{% url 'account' %}"><img src="{% static 'image/user (1).png' %}" alt="account" style="width: 30px; margin-left: 5px;"></a>
        </div>
    </header>
    <div class="container">
        <nav class="sidebar">
            <h2>Navigation</h2>
            <ul>
                <li><a href="{% url 'about_us' %}">About us</a></li>
                <li><a href="{% url 'from_sellers' %}">Form for sellers</a></li>
            </ul>

            <h2>Category</h2>
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'category_detail' category.id %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <main>
           <div class="order-container">
                <h2 style="text-align: center;">Order form</h2>
                <p style="text-align: center;">Payment for the goods is made by mail.</p>
               <form id="order-form" method="POST">
                    {% csrf_token %}
                    <input type="text" name="first_name" placeholder="Enter the address" value="{{ user.first_name }}" required>
                    <input type="text" name="last_name" placeholder="Enter postal code" value="{{ user.last_name }}" required>
                    <input type="text" name="email" placeholder="Enter the address" value="{{ user.email }}" required>
                    <input type="text" name="address" placeholder="Enter the address" required>
                    <input type="text" name="postal_code" placeholder="Enter postal code" required>
                    <label>
                        <button type="submit" id="order-button">Confirm the order</button>
                    </label>
                </form>
            </div>
        </main>
    </div>
    <script>const csrftoken = "{{ csrf_token }}";</script>
    <script src="{% static 'script/script.js' %}"></script>
</body>
</html>
