{% extends 'shop/base.html' %}

{% load static %}

{% block content %}

         <main>
           <div class="order-container">
                <h2 style="text-align: center;">Order form</h2>
                <p style="text-align: center;">Payment for the goods is made by mail.</p>
               <form id="order-form" method="POST">
                    {% csrf_token %}
                    <input type="text" name="first_name" placeholder="Enter the address" value="{{ user.first_name }}" required>
                    <input type="text" name="last_name" placeholder="Enter postal code" value="{{ user.last_name }}" required>
                    <input type="text" name="email" placeholder="Enter the address" value="{{ user.email }}" required>
                    <input type="text" name="address" placeholder="Enter the address" required>
                    <input type="text" name="postal_code" placeholder="Enter postal code" required>
                    <label>
                        <button type="submit" id="order-button">Confirm the order</button>
                    </label>
                </form>
            </div>
        </main>
    <script>const csrftoken = "{{ csrf_token }}";</script>
{% endblock %}