{% extends 'shop/base.html' %}

{% load static %}

{% block content %}

        <main>

            <!-- тут -->
            <div class="back-container" style="margin-top: 90px;">
                <!-- Кнопка повернення назад -->
                <a href="javascript:history.back()" class="back-button">Back</a>
            </div>

            <div class="product-card">
                <div class="right">
                    <img src="{{ product.photo.url }}" alt="{{ product.name }}" class="product-image">
                    <h2>{{ product.name }}</h2>
                    <div class="product-description">
                        <p>{{ product.description }}</p>
                    </div>
                </div>

                <div class="left">
                    <div class="author-info">
                        <h3>Information about the author</h3>
                        <p>Name: {{ product.author.name }} {{ product.author.last_name }}</p>
                        <p>Email: {{ product.author.email }}</p>
                        <div class="purchase-info-2">
                            <p>Status: {{ product.status }}</p>
                            <p>Availability {{ product.quantity }} pcs</p>
                        </div>
                        <div class="purchase-info">
                            <button onclick="addToCart({{ product.id }}); event.stopPropagation();">Buy</button>
                            <p>{{ product.price }} $</p>
                        </div>

                    </div>
                </div>

            </div>

        </main>
{% endblock %}