{% extends 'shop/base.html' %}

{% load static %}

{% block content %}

        <main style="margin-top: 90px;">
            <h2 style="text-align: center;">Shopping cart</h2>
            <div class="cart">
            {% csrf_token %}
            {% for item in cart_items %}
            <div class="cart-item" data-product-id="{{ item.product.id }}">
                <img src="{{ item.product.photo.url }}" alt="{{ item.product.name }}">
                <div class="item-info">
                    <h3>{{ item.product.name }}</h3>
                    <p>Price: {{ item.product.price }} $</p>
                    <div class="quantity-control">
                        <button class="decrease">-</button>
                        <input type="number" value="{{ item.quantity }}" min="1" max="{{ item.product.quantity }}" class="quantity-input" data-price="{{ item.product.price }}">
                        <button class="increase">+</button>
                    </div>
                    <button class="remove-button" onclick="removeFromCart({{ item.product.id }})">Remove</button>
                </div>
            </div>
            {% empty %}
            <img src="{% static 'image/Empty_cart.png' %}" alt="img" style="width: 300px;">
            <p>Your shopping cart is empty
                <br>Add something to the cart and come back</p>
            {% endfor %}

            <div class="total">
                <h3>Total amount: <span id="totalPrice">0</span> $</h3>
            </div>
            <!-- Використовуємо умову для активації кнопки -->
                {% if cart_items %}
                <button class="buy-button" id="buyButton">Buy</button>
                {% else %}
                <button class="buy-button_dis" disabled>Buy</button>
                {% endif %}
            </div>

        </main>
{% endblock %}