<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiktY</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'image/logo.png' %}" alt="Logo img">
            <h1><a href="{% url 'home' %}" style="text-decoration: none; color: black;">LiktY</a></h1>
        </div>
         <div class="account">
            <a href="{% url 'shopping_cart' %}"><img src="{% static 'image/free-icon-font-shopping-cart (2).png' %}" alt="account" style="width: 30px;"></a>
            <a href="{% url 'account' %}"><img src="{% static 'image/user (1).png' %}" alt="account" style="width: 30px; margin-left: 5px;"></a>
        </div>
    </header>
    <div class="container">
        <nav class="sidebar">
            <h2>Navigation</h2>
            <ul>
                <li><a href="{% url 'about_us' %}">About us</a></li>
                <li><a href="{% url 'from_sellers' %}">Form for sellers</a></li>
            </ul>

            <h2>Category</h2>
            <ul>
                {% for category in categories %}
                    <li><a href="{% url 'category_detail' category.id %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
      <main style="margin-top: 90px;">
            <h2 style="text-align: center;">Shopping cart</h2>
            <div class="cart">
            {% csrf_token %}
            {% for item in cart_items %}
            <div class="cart-item" data-product-id="{{ item.product.id }}">
                <img src="{{ item.product.photo.url }}" alt="{{ item.product.name }}">
                <div class="item-info">
                    <h3>{{ item.product.name }}</h3>
                    <p>Price: {{ item.product.price }} $</p>
                    <div class="quantity-control">
                        <button class="decrease">-</button>
                        <input type="number" value="{{ item.quantity }}" min="1" max="{{ item.product.quantity }}" class="quantity-input" data-price="{{ item.product.price }}">
                        <button class="increase">+</button>
                    </div>
                    <button class="remove-button" onclick="removeFromCart({{ item.product.id }})">Remove</button>
                </div>
            </div>
            {% empty %}
            <img src="{% static 'image/Empty_cart.png' %}" alt="img" style="width: 300px;">
            <p>Your shopping cart is empty
                <br>Add something to the cart and come back</p>
            {% endfor %}

            <div class="total">
                <h3>Total amount: <span id="totalPrice">0</span> $</h3>
            </div>
            <!-- Використовуємо умову для активації кнопки -->
                {% if cart_items %}
                <button class="buy-button" id="buyButton">Buy</button>
                {% else %}
                <button class="buy-button_dis" disabled>Buy</button>
                {% endif %}
            </div>

        </main>

    </div>

    <script src="{% static 'script/script.js' %}"></script>
</body>
</html>
